.render-chat-show{
    width: 70vw;
    background: rgba(5, 5, 5, 0.32);
    height: 100vh;
    box-sizing: border-box;
    padding: 20px;
    display: block;
}
.render-chat-hide{
    display: none;
}
.current-contact-name{
    font-weight: 500;
    font-size: 20px;
    color: #FCFCFC;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

}
.current-contact-name::after{
    font-size: 12px;
}
.chats-area{
    width: 100%;
    box-sizing: border-box;
    padding: 15px 0px;
    height: 80vh;
    overflow-y: scroll;
}
.chats-area::-webkit-scrollbar {
    width: 10px;
}
.chats-area::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.chats-area::-webkit-scrollbar-thumb {
    background: #888;
  }
.chat-container{
    width: 100%;
    display: flex;
    background: transparent;
}
.received{
    justify-content: flex-start;
}
.sent{
    justify-content: flex-end;
}
.chat{
    border-radius: 5px;
    width: fit-content;
    max-width: 350px;
    box-sizing: border-box;
    padding: 7px 10px;
    height: fit-content;
    margin-bottom: 30px;
}
.received-chat{
    background: #1E1F6F;
    color: #FCFCFC;
}
.sent-chat{
    background: #EEEEEE;
    color: #1E1F6F;
    font-weight: 500;
    margin-right: 30px;
}
p.chat-content{
    font-size: 16px;
}
.chat-timestamp{
    font-size: 12px;
    color: rgba(128, 122, 122, 0.85);
}
.send-message-container{
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    display: flex;
    justify-content: center;
    vertical-align: bottom;
}
.send-message{
    background: #EEEEEE;
    border-radius: 30px;
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 700px;
    position: absolute;
    bottom: 10px;
    /* margin-left: -350px;
    left: 50%; */
    box-sizing: border-box;
}
.send-message input{
    outline: none;
    border: none;
    padding: 15px 20px;
    font-size: 18px;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    width: 90%;
    border-radius: 30px;
    background-color: transparent;
}
.send-message input::placeholder{
    color: rgba(0, 0, 0, 0.65);
}
.submit-message{
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    background: #23236F;
    color: #FCFCFC;
    font-size: 17px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 7px;
    cursor: pointer;
    transition: 0.12s;
}
.submit-message:hover{
    background: #141441;
}