body{
    overflow: hidden;
}


.bg-dot-1{
    animation: dot1 30s ease infinite;
    background-color: rgba(0, 0, 0, 0.1);
    left: 20vw;
    top: 20vh;
}
.bg-dot-2{
    animation: dot2 30s ease infinite;
    background-color: rgba(2, 175, 255, 0.1);
    left: 40vw;
    top: 40vh;
}
.bg-dot-3{
    animation: dot3 30s ease infinite;
    background-color: rgba(13, 245, 44, 0.1);
    left: 50vw;
    top: 50vh;
}
.bg-dot-4{
    animation: dot4 30s ease infinite;
    background-color: rgba(218, 86, 86, 0.15);
    left: 70vw;
    top: 70vh;
}
.bg-dot-5{
    animation: dot5 30s ease infinite;
    background-color: rgba(255, 113, 213, 0.1);
    left: 85vw;
    top: 85vh;
}

/* Login Content */

.login-content-container{
    position: absolute;
    width: 400px;
    height: 400px;
    top: 50%;
    margin-top: -200px;
    left: 50%;
    margin-left: -200px;
}
.login-content{
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 400px;
    height: 400px;
    box-sizing: border-box;
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#login-form{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 100%;
    box-sizing: border-box;
    padding-top: 10px;
}

.form-input::placeholder{
    color: #3C3B3B;
}
.MuiFormControlLabel-root{
    margin: 0px !important;
}
.remember-me{
    color: #F3F3F3;
    font-family: 'Jost', sans-serif !important;

}

