@import url('./avatar-display.css');
@import url('./profile-small_screens.css');
@import url('./profile-response.css');
.profile-main{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: 'Jost', sans-serif;
}
.profile-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 25vw;
    padding: 30px 0px;
    height: 100vh;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.32);
}

.profile-avatar{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    box-shadow: 0px 0px 3px 5px rgba(24, 22, 22, 0.048);
    cursor: pointer;
}

.profile-avatar:hover{
    opacity: 0.5;
}

.profile-name{
    color: #FCFCFC;
    font-size: 20px;
    margin: 6px 0px;
}
.profile-username{
    color: rgba(252, 252, 252, 0.71);
    font-size: 16px;
}
.profile-right{
    padding: 30px;
    height: 100vh;
    box-sizing: border-box;
}
.profile-right form{
    width: 55vw;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
}
.edit-profile-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: -webkit-fill-available;
}
.edit-profile-element{
    display: flex;
    flex-direction: column;
    margin: 0px 10px 55px 0px;
}
.label{
    font-size: 17px;
    color: #FCFCFC;
    font-weight: 500;
}
.edit-profile-text{
    padding: 7px 10px;
    width: 340px;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 19px;
    font-family: 'Jost', sans-serif;
}
.update-btn{
    width: 340px;
}
.bg-overlay-show{
    display: block;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    box-sizing: border-box;
    top: 0;
    width: 100vw;
    height: 100vh;
}
.bg-overlay-hide{
    display: none;
}
.update-errors-show{
    display: flex;
    position: absolute;
    width: 450px;
    height: 350px;
    top: 50%;
    left: 50%;
    margin-top: -175px;
    margin-left: -225px;
    box-sizing: border-box;
    padding: 25px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.update-errors-hide{
    display: none;
}
.update-error-show{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background: #FCFCFC;
    width: 390px;
    box-sizing: border-box;
    padding: 7px 0px;
    padding-left: 10px;
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0px;
}
.update-error-hide{
    display: none;
}
.error-icon{
    color: #B80F0F;
    margin-right: 6px;
}
.update-error p{
    text-align: center;
    color: #460f0f;
}
.provide-current-password-show{
    display: flex;
    position: absolute;
    width: 400px;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -100px;
    height: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.provide-current-password-hide{
    display: none;
}
.cpassword-elem span{
    color: #FCFCFC;
}