@import url('./auth-small_screens.css');
.register-content-container{
    position: absolute;
    width: 550px;
    height: 550px;
    top: 50%;
    margin-top: -275px;
    left: 50%;
    margin-left: -275px;
    box-sizing: border-box;
}
.register-content{
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 550px;
    height: 550px;
    box-sizing: border-box;
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#register-form{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 100%;
    width: 550px;
    padding: 0px 40px;
    box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 10px;
}
.accept-terms{
    color: #F3F3F3;
    font-family: 'Jost', sans-serif !important;
    border-radius: 5px;
    padding-right: 10px;
}
.accept-terms-error{
    color: crimson;
}
.password-warnings{
    background-color: rgba(12, 12, 12, 0.99);
    color: white;
    position: absolute;
    left: 50%;
    width: 470px;
    padding: 0px 30px;
    box-sizing: border-box;
    margin-left: -235px;
    top: 50%;
    margin-top: -179px;
    display: none;
}
.password-warnings li{
    margin: 5px 0px;
}
li.password-pass{
    color: rgb(112, 221, 3);
}
li.password-fail{
    color: rgb(255, 19, 66);
}
.password-warnings-show{
    animation-name: showPasswordWarnings;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    opacity: 1;
    display: block;
}
.password-warnings-hide{
    opacity: 0;
    display: none;
    animation-name: hidePasswordWarnings;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    
}