
.sidebar-container{
    width: 250px;
    padding: 30px 10px 30px 20px;
    box-sizing: border-box;
    position: fixed;
    height: 100vh;
    box-sizing: border-box;
    background: rgba(5, 5, 5, 0.32);
}
.sidebar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
    box-sizing: border-box;
}
.sidebar-links{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.sidebar-icon{
    font-size: 21px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 180px;
    text-align: left;
    border-radius: 15px;
    transition: 0.1s;
    padding: 5px 15px;
}
.sidebar-link{
    margin: 20px 0px;
    color: #D9CACA;
}
.sidebar-link:hover{
    background-color: rgba(0, 0, 0, 0.4);
}
.sidebar-link:first-child{
    margin-top: 0px;
}
.sidebar-link:last-child{
    margin-bottom: 0px;
}
.sidebar-settings-icon{
    margin: 0px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

/* Right Side */

.sidebar-right{
    position: fixed;
    top: 0px;
    right: 10px;
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.user-icon{
    color: rgba(27, 8, 8, 0.85);
    background: #EAEAEA;
    cursor: pointer;
    transition: 0.12s;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    border-radius: 50%;
}
.user-icon:hover{
    background: #b6b2b2;
}
.sidebar-right-content{
    background: #0A092E;
    /* background: rgba(5, 5, 5, 0.32); */
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    width: 200px;
}
.sidebar-right-content-hide{
    display: none;
}
.user-link{
    padding: 5px 10px;
    box-sizing: border-box;
    margin: 10px 20px;
    border-radius: 4px;
    width: 100%px;
    color: #D9CACA;
    transition: 0.12s;
}
.user-link:hover{
    background: rgba(39, 4, 255, 0.14);
}